
* {
    padding:0;
    margin:0;
    list-style-type: none;
    color:black;
    scroll-behavior: smooth;
    transition-property:smooth;
    font-family:'Poppins',sans-serif;
    
}

a{
    text-decoration: none;
    font-family:Quicksand;
}

    /*header starts from here*/

 
    .menubar{
            
        position:relative;
        text-align: right;
        
      
    
        background-color: rgb(255,255,241);
        margin-top:0px;
        padding:25px 45px;
       
       
      
       
        color:black;
    }
    
    
    
    .menubar ul{
    display: inline;
    padding:0;
    margin:0;
    transition:0.5s;
    position:relative;
    
    }
    .menubar li{
    display: inline-block;
    margin-right: 5%;
    
    
    }
    .logo{
    position:absolute;
    top:0px;

    }
    .button{
        border:none;
        padding:4px 8px;
        border-radius:3px;
        background: none;
        cursor:pointer;
        transition:0.5s;
        overflow:hidden;
        font-family:Quicksand;
        font-size:large;
       
        font-weight: 500;
    }
    .button:hover{
       
        background-color:rgba(98, 182, 95, 0.753);
        transform:translateY(3px);
    }
    .button:hover a{
        color:white;
    
    }


    header {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }


  /*header ends from here*/


.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 115px;
    margin-left: 350px;
    border: 2px solid #ccc;
    padding: 50px;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    
    
}


.product img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}



.product-details {
    padding-left: 90px;
    margin-right: 100px; /* Adjust spacing between image and details */
}

.buttons .add-to-cart, .buy-now {
    margin-top: 10px;
    background-color: #4a7c59;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid rgb(206, 206, 206);
    
}
.add-to-cart:hover {

    background-color: white;
    color: #4a7c59;
    
    
}

.buy-now:hover {

    background-color: white;
    color: #4a7c59;
    
}




.quantity-selector input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.centeralign {
    margin-left: 300px;
   
}

.slideshow-container {
    max-width: 350px;
    overflow: hidden;
    position: relative;
    margin-right: 1px; /* Adjust as needed */

}

.slides {
    display: flex;
    transition: transform 1s ease-in-out; /* Smooth transition effect */
}

.slides img {
    width: 100%;
    height: auto;
}

.rating {
    text-align: left;
   
}

.rating span {
    color: #faca51;
    font-size: 20px;
}


.out-of-stock {
    position: relative;
    top: 150px;
    left: 375px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px; 
    font-size: 12px;
    width: 75px;
}

.discount {
    position: relative;
    top: 150px;
    left: 375px;
    background-color: rgb(104, 198, 70);
    color: white;
    padding: 5px 10px;
    border-radius: 20px; 
    font-size: 12px;
    width: 35px;
}


.return img{
    position: absolute;
    padding-left: 20px;
    padding-top: 35px;
    transition: ease-in-out 0.5s;
}


.return img:hover {
    
    transform: translateX(-8px);
    

}

@font-face {
    font-family: Quicksand;
    src: url(/Fonts/quicksand/Quicksand_Bold.otf);
}